build/
output/
__pycache__/
*.obj
*.pdb
*.ilk
*.exp
.vs/
*.user
.vscode/
api/ruledSurfaceFitting.dll
api/ruledSurfaceFitting.lib
api/API_DOC.docx
api/*.dll
api.zip
3rdPart/
*.CATPart
*.CATProcess
*.STEP
*.igs
*.step
*.iges
*.docx
python/.simple_config.json
